:root {
    --cor_de_fundo: #000000; 
    --cor_principal:#fff;
    --cor_secundaria: #1a1a1a;
    --cor_fundo_playlist:#242424;
    --cor_texto_nav: #b3b3b3;
    --gradient_footer: #2E5077, #4DA1A9, #79D7BE; 
}

body {
    background-color:var(--cor_de_fundo);
    color: var(--cor_principal);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    background-color: var(--cor_de_fundo);
    width: 300px;
}

.sidebar_navegation {
    background-color: var(--cor_secundaria);
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.logo {
    display: flex;
    background-color: transparent;
    border-radius: 8px;
    padding:16px 0 0 16px;
    width: 50%;
}

.logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 8px 0;
}

.sidebar nav ul li a {
    color: var(--cor_texto_nav);
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
}

.library {
    background-color: var(--cor_secundaria);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    margin-top: 10px;
    color: var(--cor_texto_nav);
    font-family: "DM sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.library .library_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.library .library_button {
    display: flex;
    margin-top: 10px;
    color: var(--cor_texto_nav);
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
}

.library .library_button .fa {
    font-size: 20px;
    margin-right: 10px;
    padding-right: 6px;
}

.library .library_content .fa-plus{
    margin: 20px 10px; 
}

.section-playlist{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding: 6px;
    color: var(--cor_texto_nav);
    background-color: var(--cor_fundo_playlist);
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    border-radius: 10px;
}

.section-playlist .section-playlist__content{
    display: flex;
    flex-direction: column;
}
.section-playlist .section-playlist__content .text{
    padding-bottom: 14px;
    color: var(--cor_principal);
    font-family: "DM sans",sans-serif;
}

.section-playlist .section-playlist__content .title{
    font-weight: 700;
}
.section-playlist .section-playlist__content .subtitle{
    font-weight: 500;
    font-size: 12px;
}

.section-playlist__content .section-playlist__button{
    display: flex;
    justify-content: center;
    background-color: var(--cor_principal);
    color: var(--cor_de_fundo);
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0;
    width: 130px;
}

.section-podcast {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 6px;
    gap: 20px;
    color: var(--cor_texto_nav);
    background: linear-gradient( to left, var(--gradient_footer));
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    border-radius: 10px;
}

.section-podcast .section-podcast__content{
    display: flex;
    flex-direction: column;
}

.section-podcast .section-podcast__content .text{
    padding-bottom: 14px;
    color: var(--cor_principal);
    font-family: "DM sans",sans-serif;
}

.section-podcast .section-podcast__content .title{
    font-weight: 700;
}

.section-podcast .section-podcast__content .subtitle{
    font-weight: 500;
    font-size: 12px;
}

.section-podcast__content .section-podcast__button{
    display: flex;
    justify-content: center;
    background-color: var(--cor_principal);
    color: var(--cor_de_fundo);
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    text-transform: none;
    padding: 10px ;
    margin-top: 12px;
    border: 0;
    width: 130px;
}

.section-playlist__button .section-podcast__button :hover{
    cursor: pointer;
    width: 100px;
    color: var(--cor_texto_nav);
    background-color: var(--cor_secundaria);
}

.sidebar .cookies{
    margin: 25px 20px;
}

.sidebar .cookies a{
    color: var(--cor_texto_nav);
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
}

.sidebar .cookies a:hover{
    text-decoration: underline;
}

.languages .languages__button{
    background-color: transparent;
    border: 1px solid #878787;
    border-radius: 20px;
    color: var(--cor_principal);
    cursor: pointer;
    align-items: center;
    font-weight: bold;
    width: 170px;
    margin: 8px;
    padding: 8px;
    font-family: "DM sans",sans-serif;
    font-size: 14px;
}

.footer-premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, var(--gradient_footer));
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.footer-premium .text{
    flex-shrink: 0;
    font-family: "DM sans", sans-serif;
}

.footer-premium .footer-premium__title{
    color: var(--cor_principal);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}

.footer-premium .footer-premium__subtitle{
    color: var(--cor_principal);
    font-size: 14px;
    font-weight: 500;
}

.footer-premium .button {
    background-color: var(--cor_principal);
    color: var(--cor_de_fundo);
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    flex-shrink: 0;
}